<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!todoForm.valid"
          >Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="items">
          <div
            class="row"
            *ngFor="let itemCtrl of todoForm.get('items').controls; let i = index"
            [formGroupName]="i">
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="name">
            </div>
            <div class="col-xs-2 checkbox">
              <label class="checkbox-inline">Done?
                <input
                  type="checkbox"
                  formControlName="done">
              </label>
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteItem(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddItem()">Add new item</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
