<div class="row">
  <h2>{{ todo.title }}</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <a (click)="onEditTodo()" class="btn btn-warning btn-sm" style="cursor: pointer;">Edit Todo</a>
    <a (click)="onDeleteTodo()" class="btn btn-danger btn-sm" style="cursor: pointer;">Delete Todo </a>
</div>
</div>
<!--TO FIX-->
<!--<div class="row">-->
  <!--<div class="col-xs-12">-->
    <!--<div class="btn-group"-->
    <!--appDropdown>-->
      <!--<button type="button"-->
              <!--class="btn btn-primary dropdown-toggle">-->
        <!--Manage Todo<span class="caret"></span>-->
      <!--</button>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li><a href="#">Edit Todo</a></li>-->
        <!--<li><a href="#">Delete Todo </a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="row">
  <div class="col-xs-12">
    <h2>Items</h2>
  </div>
</div>
